.circle-border {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1rem;
    border-radius: 50%;
    vertical-align: middle;
    padding: 2rem;
}

.circle-border:before {
    content:'';
    float: left;
    width: auto;
    padding-bottom: 100%;
}
