* {
    box-sizing: border-box;

    /* Config vars */
    font-family: 'Be Vietnam Pro', sans-serif;
    --border-radius: 0.5rem;
    --nav-height: 3rem;
    --side-padding: 10vw; /* padding to both side of text */
    --flex-gap: 2rem;

    /* Color vars */
    --color-theme: #003399;
    --color-theme-light: #0055ff;
    --color-light: #fcf0ce;
    --color-bright: #ffbb33;
    --color-red: #ff3377;
    --color-gray: #ededed;
    --color-gray-light: #ababab;
    --color-gray-dark: #5d5d5d;
    --color-glass-white: linear-gradient(to bottom, #ffffffcc, #ffffffcc);

    /* Other good default settings */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ------------------------------------------------------------------Elements */
a {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
    /* Additional link @ a.btn */
}

a.btn, button {
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    padding: var(--border-radius);
    background-color: var(--color-bright);
    color: var(--color-light);
    cursor: pointer;
    font-size: 1rem;
}
a.btn.dark, button.dark {
    background-color: var(--color-theme-light);
}

main > details {
    margin: 3rem var(--side-padding);
}
details > summary {
    list-style-type: none;
    width: 100%;
    color: var(--color-theme);
    font-weight: bold;
    font-size: 1.5rem;
}
details > summary::after {
    content: '◀';
    position: absolute;
    right: var(--side-padding);
}
details[open] > summary::after {
    content: '▼';
}

form button {
    margin-top: 1rem;
    padding: var(--border-radius);
    width: 100%;
    line-height: 1.4rem;
    font-size: 1.5rem;
    font-weight: bolder;
}
form input, form textarea {
    width: 100%;
    padding: var(--border-radius);
    border: 2px solid var(--color-theme);
    border-radius: var(--border-radius);
    background-color: white;
}
form label {
    display: block;
    margin: var(--border-radius) 0 0.25rem;
    color: var(--color-theme-light);
    font-weight: bold;
}
form > button,
form > input,
form > textarea {
    /* If the input is not inside a label (free floating) */
    margin: var(--border-radius) 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

hr {
    margin: 1rem var(--side-padding);
}

input, textarea {
    font-size: 1rem;
}

p {
    color: var(--color-gray-dark);
    line-height: 2rem;
}
p br {
    display: block;
    content: "";
    margin: 1rem 0;
}

summary {
    cursor: pointer;
}

textarea {
    /* Put setting in input, textarea for consistency */
    resize: none;
}

/* --------------------------------------------------------------------Layout */
body {
    margin: 0;
    font-size: 18px;
}

nav {
    position: fixed;
    top: 0; left: 0;
    z-index: 1;
    height: var(--nav-height);
    width: 100%;
    display: flex;
    color: var(--color-theme);
    background: var(--color-glass-white);
    backdrop-filter: blur(5px);
}
nav .selected {
    border-top: 0.5rem solid var(--color-theme);
    border-bottom: 0.6rem solid transparent;
}
#nav-logo {
    width: min-content;
    margin: 0.5rem auto;
    padding-left: var(--side-padding);
    padding-right: 3rem;
}
#nav-logo img {
    height: 100%;
}
#nav-center {
    display: flex;
    justify-content: space-around;
    flex-grow: 2;
    gap: 1rem;
    width: 20%;
}
#nav-center > a {
    /* ALign text to vertical center */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    height: 100%;
    text-decoration: none;
}
#nav-lang {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 3rem;
    padding-right: var(--side-padding);
}
#nav-lang span {
    font-size: 1.5rem;
    cursor: pointer;
}
#nav-lang ul {
    z-index: 10;
    position: fixed;
    right: 0;
    top: var(--nav-height);
    margin: 0;
    padding: 0.5rem;
    border-radius: 0 0 0 var(--border-radius);
    background: var(--color-glass-white);
    backdrop-filter: blur(5px); /* TODO: does not work */
}
#nav-lang li { margin: 0.5rem; }
#nav-lang li a { text-decoration: none; }
#nav-lang li span { margin-right: 0.5rem; }
#nav-lang li::marker { content: none; }

main { margin-top: var(--nav-height); }

main > h1 {
    text-align: center;
    color: var(--color-theme);
    margin-top: 7rem;
}
main > p {
    margin: var(--nav-height) var(--side-padding);
    text-align: center;
}
main > div {
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
}

footer {
    background-color: var(--color-theme);
    display: flex;
    flex-direction: column;
    padding: var(--nav-height) var(--side-padding);
    color: white
}
footer p {
    color: white;
    margin: 0;
}
footer > div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
footer > div > ul {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}
footer > div > ul > li {
    margin-left: 0;
    text-indent: 0;
    line-height: 2rem;
}
footer > div > ul > li > a { text-decoration: none; }
footer > div > form {
    flex: 0 1 22rem;
    padding-top: 1rem;
}
footer > p {
    text-align: center;
    margin-top: var(--nav-height);
    font-size: 0.75rem;
}
footer .info {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    margin-top: 0.75rem;
}
footer .info div {
    display: flex;
}
footer .info div > img {
    width: 1.5rem;
    margin: auto 1rem auto 0;
}
footer .info .social a {
    height: 2rem;
    margin-bottom: 0.5rem; /* to match with the send button */
}
footer .info .social img {
    /* Specific to overdrive the rules above */
    height: 100%;
    margin: auto 1rem auto 0;
}

/* -------------------------------------------------------------------Classes */
/* Generally good classes to have */
.noPadding { padding: 0 !important; }

/* Repetive component classes */
div.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div.banner > div {
    padding: var(--nav-height);
}
div.banner h1,
div.banner h2 { color: var(--color-light); }

/* Banner with columns */
div.banner.col { flex-direction: column; }
div.banner.col h1,
div.banner.col h2,
div.banner.col h3 { text-align: center; }
div.banner.col > div.banner { padding: 0; }
div.banner.col > div.banner > div {
    /* Align center */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* full-screen banner */
div.banner.full { height: 100vh; }
div.banner.full h1,
div.banner.full h2 {
    text-align: center;
    border-radius: var(--border-radius);
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-theme);
}

/* Div with two-column layout */
div.divCol {
    /* Section with column layout */
    display: flex;
    flex-wrap: wrap;
}
.divCol.reverse { flex-direction: row-reverse; }
.divCol > div { flex: 1 1 10rem; }

.divCol > div.text {
    padding: 3rem;
    align-self: center;
    text-align: justify;
}
.divCol > div.text h1 {
    text-align: center;
}
.divCol > .right {
    /* Allign items to the right */
    text-align: right;
}

.divCol.divBox {
    /* Surrounding divBox elements */
    padding: 0 var(--side-padding);
    justify-content: space-around;
    gap: var(--flex-gap);
}
.divCol > .divBox {
    /* Create a box for contents */
    flex: 1 1 20rem;
    max-width: 30rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--color-gray);
    text-decoration: none;
}
.divBox.img {
    /* divbox with image */
    margin-top: 7.5rem;
}
.divBox.img > .img {
    margin: auto;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    background-size: cover;
    position: relative;
    top: -7.5rem;
}
.divBox.img > h2 {
    margin-top: -6rem;
}
.divBox h1, .divBox h2 {
    color: var(--color-theme);
}

.text-center {
    text-align: center;
}